services:
  php:
    build: ./config
    container_name: php
    volumes:
      - ./:/app
    working_dir: /app
    depends_on:
      - db

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/app
      - ./config/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  db:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_DB: globalpas
      POSTGRES_USER: globalpas
      POSTGRES_PASSWORD: globalpas
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
